.texto{
    height: 200px;
    width: 100px;
    border: 3px solid #8a0fee ;
    border-radius: 10px ;
    box-shadow: 1px 1px 2px rgb(139, 133, 133);
    margin: 10px;
    background-color: azure;

}