 div {
     width: 200px;
     height: 200px;
     padding: 10px;
     border: 1px solid #bbb;
     border-radius: 5px;
     background-color: rgb(2, 255, 23);
 }

 ol :last-child {
     background-color: rgb(247, 242, 0);
 }

 ol :first-child {
     background-color: aqua;
 }